.navbar{
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 3 rem;
    top: 0;
    background-color: var(--black);
}

.logo{
    size: 1.2rem;
}

.Links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;
}

.Link{
    color: var(--grey);
    font-weight: 600;
    font-size: 1rem;
}

.Link:hover{
    color: var(--white);
    transition: all 0.3s;
}

.mobile-drawer{
    display: none;
}

@media only screen and (max-width: 800px) {

    .navbar{
        padding: 1.5rem;
    }

    .logo{
        font-size: 1rem;
    }
    .Link{
        font-size: 1rem;
    }

    .Links{
        display: none;
    }

    .mobile-drawer{
        display: block;
    }

    .drawer-div{
        width: 40vw;
        background-color: var(--black);
        height: 100vh;
        padding: 1.5rem;
    }
}